<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 静态资源访问 -->
	<mvc:default-servlet-handler />

	<!-- 开启spring MVC注解驱动特性 -->
	<mvc:annotation-driven />
	<context:component-scan base-package="com.xwl.platform">
		<context:include-filter type="regex" expression="\.web\.controller\.*" />
	</context:component-scan>
	<context:component-scan base-package="com.xwl.emmobile">
		<context:include-filter type="regex" expression="\.web\.controller\.*" />
	</context:component-scan>
	

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- 启动@AspectJ支持 -->
<!-- 	<aop:aspectj-autoproxy /> -->
<!-- 	<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" /> -->
</beans>